ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

li.navbar {
    float: left;
    border-right: 1px solid #ffffff;
    background-color: #000000;
    list-style-type: none;
}

li.navbar a.navbar {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navbar a:hover:not(.active) {
    background-color: #a3a3a3;
}

.active.navbar {
    background-color: #00ab6c;
}