body{
    background-image: url(../imatges/playa.jpg);
    color: white;
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    
  }
table{
    background-color: rgba(0, 0, 0, 0.7);
    
}
caption{
    font-size: 35px;
}

th, td {
     height:50px
     
    }